.ExampleLongSheet-presentTrigger {
  /* SELF-LAYOUT */
  height: 2.75rem;

  /* APPEARANCE */
  border-radius: 9999px;
  appearance: none;
  border: none;
  background-color: rgb(31, 41, 55);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* INTERACTIVITY */
  cursor: pointer;

  /* INNER-LAYOUT */
  padding-inline: 1.25rem;

  /* TEXT */
  text-box: trim-both cap alphabetic;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
}

.ExampleLongSheet-article {
  /* INNER-LAYOUT */
  position: relative;
  display: grid;
}

.ExampleLongSheet-dismissTrigger {
  /* SELF-LAYOUT */
  position: absolute;
  z-index: 1;
  justify-self: end;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;

  /* APPEARANCE */
  appearance: none;
  border: none;
  border-radius: 9999px;
  background-color: rgb(229, 231, 235);

  /* INTERACTIVITY */
  cursor: pointer;

  /* INNER-LAYOUT */
  padding: 0;
  display: grid;
  place-items: center;

  /* TEXT */
  color: rgb(107, 114, 128);
}

.ExampleLongSheet-dismissIcon {
  /* SELF-LAYOUT */
  width: 22px;
  height: 22px;

  /* APPEARANCE */
  stroke-width: 2.5px;
}

.ExampleLongSheet-illustration {
  /* SELF-LAYOUT */
  width: 100%;
  height: 68svh;

  /* APPEARANCE */
  background-image: conic-gradient(
    from -140deg at 100% 100%,
    rgba(36, 239, 215, 1),
    rgba(179, 250, 241, 1) 120deg,
    rgba(36, 239, 215, 1)
  );
  background-origin: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ExampleLongSheet-articleContent {
  /* SELF-LAYOUT */
  justify-self: center;
  width: min(100% - 3rem, 800px);

  /* INNER-LAYOUT */
  padding-block: 1.75rem 2rem;
  display: grid;
  place-content: start;
}
@media (min-width: 1000px) {
  .ExampleLongSheet-articleContent {
    /* SELF-LAYOUT */
    padding-block: 3.5rem;
  }
}

.ExampleLongSheet-title {
  /* SELF-LAYOUT */
  margin-top: 0;
  margin-bottom: 0.75rem;
  justify-self: center;
  max-width: 600px;

  /* TEXT */
  text-align: center;
  text-wrap: balance;
  line-height: 1.25;
  font-size: 1.875rem;
  font-weight: 800;
  color: rgb(17, 24, 39);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-title {
    /* SELF-LAYOUT */
    margin-bottom: 1.5rem;

    /* TEXT */
    font-size: 3rem;
  }
}

.ExampleLongSheet-subtitle {
  /* SELF-LAYOUT */
  margin: 0;

  /* TEXT */
  text-align: center;
  text-wrap: balance;
  text-wrap: pretty;
  line-height: 1.375;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(107, 114, 128);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-subtitle {
    /* TEXT */
    text-align: center;
    line-height: 1.375;
    font-size: 1.5rem;
  }
}

.ExampleLongSheet-author {
  /* SELF-LAYOUT */
  margin-top: 1rem;

  /* TEXT */
  text-align: center;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-author {
    margin-top: 1.5rem;
  }
}

.ExampleLongSheet-authorName {
  /* TEXT */
  font-weight: 500;
  color: rgb(75, 85, 99);
}

.ExampleLongSheet-articleBody {
  /* SELF-LAYOUT */
  margin-top: 2.25rem;
  display: grid;
  gap: 0.75rem;

  /* TEXT */
  line-height: 1.5;
  font-size: 1.125rem;
  color: rgb(31, 41, 55);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-articleBody {
    /* SELF-LAYOUT */
    margin-top: 3.5rem;
  }
}

.ExampleLongSheet-articleParagraph {
  /* SELF-LAYOUT */
  margin: 0;
}
